/* Presets */
html, body {
    margin: 0%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background: linear-gradient(#666666, #888888);
    color: #dddddd;
}
.pad {
    padding: 10px;
}
.spad {
    padding: 5px;
}
/* Website Header */
.header {
    padding: 10px;
    text-align: center;
    background: black;
    border-bottom: solid #bbbbbb 4px;
}
/* Website Main Content */
.mainContent {
    padding: 10px;
}
.socials {
    float: right;
    text-align: center;
}
/* Website Buttons */
.btn {
    background: #ff8800;
    display: inline-block;
    border: solid black 2px;
    border-radius: 32px;
    font-size: 18px;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover {
    background: #ff880075;
}
